<div class="situation-container">
  <mat-accordion *ngFor="let situation of situationData$ | async">
    <mat-expansion-panel hideToggle expanded="true">
      <mat-expansion-panel-header class="situation-header">
        <mat-panel-title>
          <mat-icon>{{ situation.icon || 'list' }}</mat-icon>
          {{ situation.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="accordion-content" *ngIf="situation.tasks | async as tasks">
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="box" *ngFor="let task of tasks" cdkDrag>
            {{ task.title }}
          </div>
        </div>
        <div class="footer-accordion">
          <button
            mat-button
            type="button"
            (click)="loadMoreTask(situation.id, tasks)"
          >
            <mat-icon>add</mat-icon> Carregar Tasks
          </button>
          <p>
            <b>{{ tasks.length }}</b> TASKS
          </p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
