<form [formGroup]="_registerForm" (ngSubmit)="submit()">
  <app-input-text
    type="text"
    [control]="_registerForm.controls.name"
    label="Nome Completo"
    isOutline="true"
  ></app-input-text>
  <app-input-text
    type="email"
    [control]="_registerForm.controls.email"
    label="Email"
    isOutline="true"
  ></app-input-text>
  <app-input-text
    type="password"
    [control]="_registerForm.controls.password"
    label="Senha"
    isOutline="true"
    hint="A senha deve ter no mínimo 6 caracteres"
  ></app-input-text>
  <div class="actionsButtons">
    <div class="registerButtons">
      <button mat-raised-button color="warn" (click)="setEditMode(false)">
        Cancelar
      </button>
      <button mat-raised-button color="primary">Entrar</button>
    </div>
  </div>
</form>
