<form [formGroup]="_loginForm" (ngSubmit)="submit()">
  <app-input-text
    type="email"
    [control]="_loginForm.controls.email"
    label="Email"
    isOutline="true"
  ></app-input-text>
  <app-input-text
    type="password"
    [control]="_loginForm.controls.password"
    label="Senha"
    isOutline="true"
    hint="A senha deve ter no mínimo 6 caracteres"
  ></app-input-text>
  <div class="actionsButtons">
    <div>
      <a (click)="setEditMode(true)"><p>Registrar-se</p></a>
      <a><p>Esqueceu sua senha ?</p></a>
    </div>
    <button mat-raised-button color="primary">Entrar</button>
  </div>
</form>
