form {
  padding: 1rem;
}

.actionsButtons {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.actionsButtons div {
  width: 100%;
  display: flex;
}

.actionsButtons div a {
  color: white;
  text-decoration: underline white;
  cursor: pointer;
}

.actionsButtons div a p {
  margin-top: 0;
  margin-left: 0;
  font-size: 0.8rem;
  padding-right: 1rem;
}

.actionsButtons button {
  margin-top: 0.8rem;
}


.mat-button.mat-green {
  color: #6ce200;
}

.mat-raised-button.mat-green, .mat-flat-button.mat-green{
  background-color: #6ce200;
  color: black;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
